@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<style>
    #cartTable td { vertical-align:middle; }
</style>

<!-- CheckOut 뷰-->
<h2>Your Cart</h2>
<table id ="cartTable" class="table">
    <thead>
        <tr>
            <!--테이블 헤더-->
            <th>Item</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var line in Model.Cart.Lines)
            {
        <tr>
            <!--테이블 데이터-->
            <td class="text-left">@line.Product.Name</td>
            <td class="text-center">@line.Product.Price.ToString("c")</td>
            <td class="text-center">@line.Quantity</td>
            <td class="text-center">@((line.Quantity * line.Product.Price).ToString("c"))</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    <!--매개변수 대소문자 구별 안함-->
                    @Html.Hidden("productId", line.Product.ProductID)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                }
            </td>
        </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <!--총합-->
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-center">@Model.Cart.ComputeTatolValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <!--리턴-->
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    <!-- cart Controller의 Checkout 메소드 실행-->
    @Html.ActionLink("Checkout now","Checkout", null, new { @class = "btn btn-primary" })
</div>

